{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div class="header">
        <meta charset="UTF-8">
        <title>Files upload</title>
    </div>
</head>
<body>
<h1>Upload file</h1>
{% block content %}
    <div class="w3-container w3-card w3-white w3-round w3-margin">
        <form action="{% url "upload_file" %}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}

            <div class="setting"></div>

            <div class="setting image_picker">
                <h2>Content Image</h2>
                <div class="settings_wrap">
                    <label class="drop_target">
                        <div class="image_preview"></div>
                        <input id="inputFile" type="file" name="content_img"/>
                    </label>
                    <div class="settings_actions vertical"><a data-action="choose_from_uploaded">
                    </a><a class="disabled"
                           data-action="remove_current_image">
                        <i class="fa fa-ban"></i> Remove Current Image</a></div>
                </div>
            </div>

            <div class="setting image_picker">
                <h2>Style Image</h2>
                <div class="settings_wrap">
                    <label class="drop_target">
                        <div class="image_preview_style"></div>
                        <input id="inputFileStyle" type="file" name="style_img"/>
                    </label>
                    <div class="settings_actions vertical"><a data-action="choose_from_uploaded">
                    </a><a class="disabled"
                           data-action="remove_current_image_style">
                        <i class="fa fa-ban"></i> Remove Current Image</a></div>
                </div>
            </div>

            <div class="setting"></div>
            <p>
                <button type="submit" value="Upload" class="w3-button w3-theme">Upload</button>
            </p>
        </form>
    </div>
{% endblock %}
</body>
</html>