{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <div class="header">
        <meta charset="UTF-8">
        <title>Files upload</title>
    </div>
</head>
<body>
<h1>Upload file</h1>
{% block content %}
    <div class="w3-container w3-card w3-white w3-round w3-margin">
        <form action="{% url "upload_file" %}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="container">
                <h1>jQuery Image Upload
                    <small>with preview</small>
                </h1>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview">
                        </div>
                    </div>
                </div>
            </div>

            <p>
                <button type="submit" value="Upload" class="w3-button w3-theme">Upload</button>
            </p>
        </form>
    </div>
{% endblock %}
</body>
</html>