{% extends  "base.html" %}
{% block content %}

    <script>
        $(function () {

            $("#restart").click(function () {
                $.ajax({
                    type: 'post',
                    url: '{% url "files" %}' ,
                    data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
                    success: {}
                });
            });
        });


    </script>

    <div class="w3-container w3-card w3-white w3-round w3-margin">
        <P>Processed</P>
        <img src="{{ output }}" title="output image">
        <P>Parametrs:</P>
        <li>model <B>{{ model }}</B></li>
        <li>ratio <B>{{ ratio }}</B></li>
        <li>number of iterations <B>{{ num_iters }}</B></li>
{#        <p>#}
{#            <button type="submit" id="restart" value="start_again" class="w3-button w3-theme">Start again</button>#}
{#        </p>#}
    </div>

    {#    <li>time of executing <B>{{ time }}</B></li>#}
{% endblock %}