{% extends "base.html" %}
{% block content %}
{#    <p>Uploaded page is loaded.</p>#}
    <img src="{{ content_img }}" height="30%" width="30%" title="content image"/>
    <img src="{{ style_img }}" height="30%" width="30%" title="style image"/>
    <form action="{% url "proceed" %}" method="post"  id="result-load" name="result">
        {% csrf_token %}
        <input type="hidden"  value="" name="tsk_id" id="task_id"/>
    </form>
    <P><button type="submit" id="js-proceed-photos">Proceed</button></P>
{% endblock %}