{% extends "base.html" %}
{% block content %}
    <div class="w3-container w3-card w3-white w3-round w3-margin">
        {#    <p>Uploaded page is loaded.</p>#}
        <img src="{{ content_img }}" height="30%" width="30%" title="content image"/>
        <img src="{{ style_img }}" height="30%" width="30%" title="style image"/>
        <form action="{% url "proceed" %}" method="post" id="result-load" name="result">
            {% csrf_token %}
            <input type="hidden" value="" name="tsk_id" id="task_id"/>
        </form>
        <p>
            <button type="submit" value="Upload" id="js-proceed-photos" class="w3-button w3-theme">Process</button>
        </p>
    </div>
{% endblock %}