{% extends "base.html" %}
{% block content %}
    <p>Uploaded page is loaded.</p>
    <img src="{{ cimg }}" height="30%" width="30%" title="content image"/>
    <img src="{{ simg }}" height="30%" width="30%" title="style image"/>
    <form action="{% url "proceed" %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="img_to_proceed" value="{{ cimg }},{{ simg }}" />
            <form action="{% url "pbar" %}" method="post">
{#                каким-нибудь елдом нужно посылать запросы на обновление#}
                {#js использовать #}
            </form>
        <P><input type="submit" value="Proceed"/></P>
    </form>

{% endblock %}